header {
  background-color: #a52a2a;
  color: white;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

#sunset {
  margin: 6px 10px 0px 10px;
  width: 98.4%;
}

.some-text {
  margin: 20px 10px 20px 20px;
  font-size: 18px;
}

#italic-text {
  font-style: italic;
}

#bold-text {
  font-weight: bold;
}

#color-text {
  color: #3e11ff;
  font-style: italic;
  font-weight: bold;
}

#blue-text {
  color: #0e20ff;
}
.car-images img {
  border: dashed;
}
.car-images {
  text-align: center;
}

button {
  background: #a52a2a;
  height: 42px;
  width: 180px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 30px;
  border-radius: 16px;
}

.link-main a {
  color: white;
}
button:hover {
  background: #df7332;
}

footer {
  position: relative;
  /* left: 10px; */
  margin-right: 10px;
  padding: 5px;
  margin: 5px 10px 30px 10px;
  /* bottom: 30px; */
  /* top: 5px;
  padding: 5px; */
  background: black;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
