header h1 {
  text-align: center;
  background-color: #134381;
  color: white;
}

#wrapper {
  background-color: rgb(184, 217, 255);
  color: rgb(58, 90, 179);
  height: 100%;
}

nav {
  border-bottom: 2px solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
}

.h2_links {
  margin-left: 30px;
}
.links {
  margin: 0 auto;

  padding-top: 10px;
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: flex-end;
  align-content: space-between;
  height: 150px;
}

.links a {
  margin: 3px;
  text-align: center;
  background-color: #3a5ab3;
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 80px;
  padding: 10px;
  text-decoration: none;
  /* left: 50%; */
  color: white;
  font-size: 16px;
}

.links a:hover {
  background-color: rgb(1, 31, 87);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #397db5;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
